﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Web Application Information</h3>

<p>Nick Richard's Assignment 5!</p>
<p>The time on the server is... @DateTime.Now</p>