﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Information</h3>

<address>
    600 W College Ave<br />
    Tallahassee, FL 32306<br />
    <abbr title="Phone">P:</abbr>
    850.757.3897
</address>

<address>
    <strong>Support:</strong> <a href="mailto:njr13@my.fsu.edu">Support@example.com</a><br />
</address>
