﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        
    </ol>
     <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="fsu.cci.edu">
            <img src="~/images/renegade.jpg" alt="ASP.NET" class="img-responsive" /></a>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <a href="https://www.linkedin.com/in/nickolas-richard/">
                <img src="~/images/resume.png" alt="ASP.NET" class="img-responsive" /></a>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
        <div class="item">
            <a href="https://bitbucket.org/njr13/lis4369">
                <img src="~/images/programming.jpg" alt="ASP.NET" class="img-responsive"/>
                    </a>
            <div class="carousel-caption" role="option">
                <p>
                </p>
            </div>
        </div>
 
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>C# Basics</h2>
        <ul>
            <li><a href="https://bitbucket.org/njr13/lis4369/src/20eeb51f3efcd8d81f01a268fa522ceaae7e6f34/a1/README.md?fileviewer=file-view-default">Simple Hello World App</a></li>
            <li><a href="https://bitbucket.org/njr13/lis4369/src/20eeb51f3efcd8d81f01a268fa522ceaae7e6f34/a2/README.md?fileviewer=file-view-default">Basic Calculator Function</a></li>
            <li><a href="https://bitbucket.org/njr13/lis4369/src/20eeb51f3efcd8d81f01a268fa522ceaae7e6f34/a3/README.md?fileviewer=file-view-default">Future Value Calculator</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Experience</h2>
        <ul>
           <li><a href="https://www.americanstrategic.com/">American Stategic Insurance</a></li>
           <li><a href="http://www.publix.com/">Publix Supermarkets</a></li>
           <li><a>BS in Information Technology at FSU</a></li> 
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Involvement</h2>
        <ul>
            <li><a href="http://aitp.fsu.edu/">AITP (Association of Information Technology Professionals)</a></li>
            <li><a href="https://nolecentral.dsa.fsu.edu/organization/seminolescubaclub">Seminole Scuba Club</a></li>
            <li><a>FSU Cyber Security Club</a></li>
        </ul>
    </div>
</div>
